html{

background-color: #293134;

}
h1{font-family: 'Oswald', sans-serif;}
.title{

text-align: center;
color: white;
font-size: 75px;

}

.video{
	
border: 5px solid #26ff26;
background-color: gray;
	
}